<a href="https://colab.research.google.com/github/marszam1/phyton/blob/master/Mathplot_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# %matplotlib notebook
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.transforms as trans


x0, x1 = np.meshgrid(np.linspace(-2,2,100), np.linspace(-2, 2, 100))
y =  np.sin(x0) ** 2 + np.cos(x1) ** 2

plt.rcParams["figure.figsize"] = (10,10)

# ase = plt.gca().transData
# rot = trans.Affine2D().rotate_deg(90)


fig = plt.figure()
ax = fig.add_subplot(111, projection='3d')

ax.plot_surface(x0, x1, y)

ax.set_xlabel('x0')
ax.set_ylabel('x1')
ax.set_zlabel('y')

# New Section

# New Section

**To tylko **taki przyklad byl ,a  teraz sie zacznie na [powaznie](https://onet.pl)